@import url(./_theme/nav__logo_theme_dark.css);

.nav__logo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 30px;
  transition: opacity 0.3s;
}

.nav__logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 992px) {
  .nav__logo {
    margin-top: 22.7px;
  }
}

@media screen and (max-width: 767px) {
  .nav__logo {
    margin: 0;
    padding: 16px 16px 16px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
