.saved__title {
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: rgba(26, 27, 34, .5);

  margin: 0;
}

@media screen and (max-width: 992px) {
  .saved__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .saved__title {
    font-size: 12px;
  }
}
