@import url(./__cards/results__cards.css);
@import url(./__content/results__content.css);
@import url(./__title/results__title.css);
@import url(./__more/results__more.css);
@import url(./_saved/results_saved.css);

.results {
  background-color: #f5f6f7;
  margin: 80px 0;
}

@media screen and (max-width: 992px) {
  .results {
    margin: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .results {
    margin: 32px 0;
  }
}