{
  "globals": {
    "window": true,
    "document": true,
	"fetch": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "class-methods-use-this": ["error", { "exceptMethods": ["_setInputError"] }],
    "no-console": "off"
  }
}
