@import url(./_content/container_content.css);

.container {
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
  }
}
