.card__auth-notice {
  background: #fff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, .1);
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
  margin-right: 5px;

  display: flex;
  align-items: center;

  opacity: 0;
  transition: opacity .5s;
}

.card__bookmark-icon:hover ~ .card__auth-notice {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .card__auth-notice {
    max-width: 60%;
  }
}
