@import url(./__item/nav__item.css);
@import url(./__items/nav__items.css);
@import url(./__logo/nav__logo.css);
@import url(./__content/nav__content.css);
@import url(./__link/nav__link.css);
@import url(./__auth-button/nav__auth-button.css);
@import url(./__exit/nav__exit.css);
@import url(./_theme/nav_theme_dark.css);
@import url(./__burger/nav__burger.css);
@import url(./_opened/nav_opened.css);

.nav {
  display: flex;
  height: 80px;
  background: rgba(196, 196, 196, .01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .2);
}

@media screen and (max-width: 992px) {
  .nav {
    height: 66px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    position: relative;
    height: 56px;
    box-shadow: none;
    background: rgba(196, 196, 196, .01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .2);
    z-index: 999;
  }
}