.popup.popup_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 767px) {
  .popup.popup_overlay {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 0;
    z-index: 9999;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
  }
}
