.card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 40px;

  margin: 0;
  box-sizing: border-box;
  padding: 0 15px;

  background-color: #fff;
  border-radius: 10px;

  display: flex;
  align-items: center;

  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

@media screen and (max-width: 992px) {
  .card__keyword {
    top: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .card__keyword {
    left: 16px;
    top: 16px;
  }
}
