@import url('./_saved/results__content_saved.css');

.results__content {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 992px) {
  .results__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .results__content {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
