@import url(./_registered/popup__link_registered.css);

.popup__link {
  cursor: pointer;

  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #2f71e5;

  transition: opacity .3s;
}

.popup__link:hover {
  opacity: .7;
}
